nav {
    width: 100%;
    background-color: #6e072d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

/* remove default list spacing */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* list items */
nav li {
    padding: 18px 27px; /* 18px vertical, 27px horizontal */
    border-right: 2px solid white;
}

/* hover */
nav li:hover {
    background-color: #b90e4d;
    cursor: pointer;
}

/* remove right border of Pricing */
.left-nav li:last-child {
    border-right: none;
}

/* remove left border of Team */
.right-nav li:first-child {
    border-left: none;
}
